<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bgImage text-center">
                <div class="row paddingTop15px">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <nav class="navbar navbar-expand-md navbar-dark" style="border-bottom: 1px solid #B3B3B3;">
                            <img src="../../assets/Images/component (32).png" class="img img-fluid" style="margin-left: 5px;">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#collapsibleNavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <!-- Navbar links -->
                            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                <ul class="navbar-nav ml-auto switch-tab">
                                    <li class="nav-item">    
                                        <a class="nav-link active" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Benefits">Benefits</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Facilities">Facilities</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Gallery">Gallery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Pricing">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Contactus"> Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>
                <h1 class="colorWht text-center" style="font-weight: 900;padding-top: 150px;">Best Co-working Space at
                    Best Price</h1><br>
                <p class="text-center colorWht">Expect the best-in-class! An Alley with a record of successful
                    startups is launching a top-notch co-working <br>space with exclusive amenities, only for tech
                    startups. Recreate history at Bootstrap Alley.</p><br><br>
                <button type="button " class="pricingBtn colorWht mrgBot15px">Get Started</button>
                <img src="../../assets/Images/component (30).png" class="img img-fluid">

            </div>
        </div>
    </div>
    <br>

    <div class="text-center" id="Benefits">
        <h1 class="borderCss">Benefits</h1><br><br>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla
            ullamcorper. <br>Morbi felis orci, lacinia a velit et, sodales...</p>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-4">
            <img src="../../assets/Images/component (1).png" class="img img-fluid">
            <br>
            <h5 class="text-center">Like Minded Startups</h5>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla
                ullamcorper. Morbi felis orci, lacinia a velit et, sodales...</p>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <img src="../../assets/Images/component (4).png" class="img img-fluid">
            <br>
            <h5 class="text-center">Large Terrace</h5>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla
                ullamcorper. Morbi felis orci, lacinia a velit et, sodales...</p>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <img src="../../assets/Images/component (33).png" class="img img-fluid">
            <br>
            <h5 class="text-center">Ready to Move in</h5>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla
                ullamcorper. Morbi felis orci, lacinia a velit et, sodales...</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-4">
            <img src="../../assets/Images/component (2).png" class="img img-fluid">
            <br>
            <h5 class="text-center">Free Unlimited Wi-Fi</h5>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla
                ullamcorper. Morbi felis orci, lacinia a velit et, sodales...</p>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <img src="../../assets/Images/component (5).png" class="img img-fluid">
            <br>
            <h5 class="text-center">Located on Main Road</h5>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla
                ullamcorper. Morbi felis orci, lacinia a velit et, sodales...</p>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <img src="../../assets/Images/component (3).png" class="img img-fluid">
            <br>
            <h5 class="text-center">Hit the Target</h5>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla
                ullamcorper. Morbi felis orci, lacinia a velit et, sodales...</p>
        </div>
    </div>
    <br>

    <div class="bgBlack" id="Facilities">
        <div class="text-center">
            <h1 class="borderCss colorWht">Facilities</h1><br><br>
            <p class="text-center colorWht">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
                fringilla ullamcorper. <br>Morbi felis orci, lacinia a velit et, sodales...</p>
        </div>
        <br>
        <br>

        <div class="row mrgBot15px txtCentr mrgBot15px">
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (11).png" class="img-fluid">
                <span class="facilityFont">24/7 Access</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (12).png" class="img-fluid">
                <span class="facilityFont">Spacious Cubicles</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (29).png" class="img-fluid">
                <span class="facilityFont">24/7 Power Backup</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (13).png" class="img-fluid">
                <span class="facilityFont">Printer Facilities</span>
            </div>
        </div>

        <div class="row mrgBot15px">
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (14).png" class="img-fluid">
                <span class="facilityFont">CCTV And Access</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (15).png" class="img-fluid">
                <span class="facilityFont">Fridge & Microwave</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (16).png" class="img-fluid">
                <span class="facilityFont">TV & Set Top Box</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (17).png" class="img-fluid">
                <span class="facilityFont">Reception Area</span>
            </div>
        </div>

        <div class="row mrgBot15px">
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (18).png" class="img-fluid">
                <span class="facilityFont">Large Cafeteria</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (20).png" class="img-fluid">
                <span class="facilityFont">TV Conference Rooms</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (19).png" class="img-fluid">
                <span class="facilityFont">Various Meeting Rooms</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (21).png" class="img-fluid">
                <span class="facilityFont">Postal Address</span>
            </div>
        </div>

        <div class="row mrgBot15px">
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (23).png" class="img-fluid">
                <span class="facilityFont">Large Open Terrace</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (22).png" class="img-fluid">
                <span class="facilityFont">Housekeeping Facilities</span>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <img src="../../assets/Images/component (24).png" class="img-fluid">
                <span class="facilityFont">Parking Spaces</span>
            </div>
        </div>
    </div>
    <br>

    <div class="text-center" id="Gallery">
        <h1 class="borderCss">Gallery</h1><br><br>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla
            ullamcorper. <br>Morbi felis orci, lacinia a velit et, sodales...</p>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-xs-12">
            <div class="mrgLft">
                <img src="../../assets/Images/component (31).png" class="img-fluid">
                <img src="../../assets/Images/Group 97.png" class="img-fluid">
                <img src="../../assets/Images/component (7).png" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-xs-12">
            <div class="mrgLft">
                <img src="../../assets/Images/component (8).png" class="img-fluid">
                <img src="../../assets/Images/component (9).png" class="img-fluid">
                <img src="../../assets/Images/component (10).png" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="bgYellow" id="Pricing">
        <div style="text-align:center">
            <h1 class="borderCss">Pricing</h1><br><br>
            <p class="Para">Check out our attractive pricing plan Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Nunc porta fringilla ullamcorper.</p>
            <span class="circle">
                <p class="ParaCircle"> <span style="font-weight: bold;font-size: 40px;">6000 </span><br> per month
                    for single desk
                    plus taxes as applicable</p>
            </span>
            <br>
            <br>
            <button type="button" class="pricingBtn">Book Now</button><br>
        </div>
    </div>

    <div class="row" id="Contactus">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <h4 class="borderCss">Say Hello</h4><br><br>
            <p class="paraCSS">BOOTSTRAPALLEY B-7/8,<br> Anmol Pride,<br> Baner Pune 411045 <br>+91 20 4075 1111<br> +91
                20
                4075 1177 <br></p>
            <span class="gmailCSS">bootstrap-alley@talentica.com</span>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <h4 class="borderCss">Write to us</h4><br><br>
            <div class="col mb-4">
                <form [formGroup]="aboutusForm" (ngSubmit)="onSubmit()">
                    <div class="md-form">
                        <label for="contact-name" class="required-field">Name</label>
                        <input type="text" id="contact-name" class="form-control" formControlName="Name">
                        <div *ngIf="aboutusForm.controls['Name'].touched &&
                        aboutusForm.controls['Name'].invalid" class="colorRed">
                            <div *ngIf="aboutusForm.controls['Name'].errors &&
                     aboutusForm.controls['Name'].errors.required">
                                Name is required.</div>
                        </div>
                    </div>

                    <div class="md-form">
                        <label for="contact-name" class="required-field">Email ID</label>
                        <input type="text" id="contact-email" class="form-control" formControlName="Email">
                        <div *ngIf="aboutusForm.controls['Email'].touched &&
                        aboutusForm.controls['Email'].invalid" class="colorRed">
                            <div *ngIf="aboutusForm.controls['Email'].errors &&
                     aboutusForm.controls['Email'].errors.required">
                                Email is required.</div>
                        </div>
                    </div>

                    <div class="md-form">
                        <label for="contact-Subject" class="">Contact No.</label>
                        <input type="text" id="contact-Subject" class="form-control" formControlName="ContactNo">
                        <div *ngIf="aboutusForm.controls['ContactNo'].touched &&
                        aboutusForm.controls['ContactNo'].invalid" class="colorRed">
                            <div *ngIf="aboutusForm.controls['ContactNo'].errors &&
                     aboutusForm.controls['ContactNo'].errors.required">
                                Contact No. is required.</div>
                        </div>
                    </div>

                    <div class="md-form">
                        <label for="contact-Subject" class="">Message</label>
                        <input type="text" id="contact-Subject" class="form-control" formControlName="Message">
                        <div *ngIf="aboutusForm.controls['Message'].touched &&
                        aboutusForm.controls['Message'].invalid" class="colorRed">
                            <div *ngIf="aboutusForm.controls['Message'].errors &&
                     aboutusForm.controls['Message'].errors.required">
                                Message is required.</div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="pricingBtn colorWht" [disabled]="!aboutusForm.valid">Send</button>

                </form>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
    </div>

    <section class="section">
        <div class="card">
            <div class="card-body">
                <div id="map-container-google-12" class="z-depth-1-half map-container-7" style="height: 200px">
                    <iframe
                        src="https://maps.google.com/maps?@20.0571,74.1993219,7z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bc2beb53fecbc15:0xfa9400a70f22ac95!2m2!1d73.769672!2d18.567091=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <div class="bgColor">
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>

            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="grayColor">follow us on</span><br>
                <img src="../../assets/Images/component (26).png" class="img-fluid">&nbsp;
                <img src="../../assets/Images/component (25).png" class="img-fluid">&nbsp;
                <img src="../../assets/Images/component (27).png" class="img-fluid">
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="grayColor">Terms & Conditions <br>Privacy Policy</span>
            </div>

            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="grayColor">powered by</span><br>
                <h2 class="grayColor">talentica</h2>
            </div>
        </div>
    </div>
</div>